* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /* Background Color */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #fdfdfc;
    --bg-food-color: #ff3b3b;

    /* Text Color */
    --text-primary-color: #f0f0f0;


    /* Spacing Variable */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border Colour Variable */
    --border-primary-color: #333333;


    /* Border Radius Variable */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
section {
    height: 100%;
    width: 100%;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    padding: var(--space-2xl);
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info h3 {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

/*  Snake Bord  */

.board {
    /* border:  white; */
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block {
    /* height: 30px;
    width: 30px; */
    border: 1px solid var(--border-primary-color);
}

.fill {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: var(--bg-food-color);
}

.modal {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .start-game,
.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.btn {
    border: none;
    cursor: pointer;
    padding:  var(--space-sm) var(--space-md);
    border-radius: var(--border-radius-sm);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.modal .game-over{
    display: none;
}