* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /* Background Color */
    --bg-primary-color: #0c0c0c;

    /* Text Color */
    --text-primary-color: #f0f0f0;


    /* Spacing Variable */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border Colour Variable */
    --border-primary-color: #333333;


}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
section {
    height: 100%;
    width: 100%;
}

section {
    padding: var(--space-2xl);
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info h3 {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
}